*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

src/main/scala/jp/aquabox/analyzelib/scala/twitter/TwitterControl.scala

# Scala-IDE specific
.scala_dependencies
.worksheet
